:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #f4f4f4;
    --white: #fff;
    --input-border-color: #ccc;
    --font-size: 16px;
    --font-family: Arial, sans-serif;
    --button-padding: 10px;
    --border-radius: 4px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 15px 0;
}

.navbar a {
    margin: 0 15px;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
    background: url('./levoratech.png') no-repeat center center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 36px;
    margin: 0;
}

.main-content {
    max-width: 100%;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

select,
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: var(--button-padding);
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    background-color: var(--white);
}

select:focus,
input:focus {
    border-color: var(--primary-color);
    outline: none;
}

#formContainer {
    border: 1px solid var(--input-border-color);
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: #f9f9f9;
}

button {
    display: block;
    width: 100%;
    padding: var(--button-padding);
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

.ip-group {
    display: flex;
    align-items: center;
}

.ip-group span {
    margin: 0 5px;
    font-size: var(--font-size);
}

.output {
    background-color: #000;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    overflow: auto;
    width: 60%;
    min-height: 300px;
    max-height: 600px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.workSpace {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px;
    }

    .output {
        width: 100%;
    }

    .workSpace {
        flex-direction: column;
    }

    .navbar a {
        font-size: 16px;
        margin: 0 10px;
    }
}