body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6D3189;
    color: #333;
}
header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6D3189;
}
nav {
    display: flex;
}
nav a {
    color: #6D3189;
    text-decoration: none;
    margin-left: 15px;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.input-row {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.ip-group {
    display: flex;
    align-items: center;
}
input, select {
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    width: 40px;
    margin-right: 2px;
    border-color: #000000;
}
input[type="text"] {
    width: 300px;
    border-color: #000000;
}
input:hover, select:hover {
    border-color: #ff0000;
}
select {
    width: 50px;
}
button {
    margin-top: 10px;
    padding: 10px;
    background-color: #6D3189;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #000000;
    color: white;
}
h1, h2 {
    text-align: center;
}
pre {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    font-family: monospace;
}
footer {
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    color: #6D3189;
    margin-top: 20px;
}
#ratio{
    display: flex;
    flex-wrap: wrap;

}
#ratio div{
    margin-right: 10px;
    margin: auto;
    align-items: center;
    display: flex;
}
#ratio input{
    margin: auto;
}
