@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #eee;
}


footer {
    background-color: #1f1f1f;
    color: #eee;
    padding: 20px 0;
    text-align: center;
}

footer {
    color: #00adb5;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}



.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    
}
.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    border: 4px solid #00adb5;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #00adb5;
}

section {
    margin-bottom: 20px;
}

.sobre {
    padding-left: 10px;
}

.lateral {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    border: solid 1px #333;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #1f1f1f;
}

.principal {
    flex: 2;
    padding: 30px 20px;

    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.contact-info li {
    display: flex;
    align-items: center;
}

.contact-info li i {
    margin-right: 10px;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #00adb5;
}

.skills ul,
.interpessoais ul {
    padding-left: 20px;
}

.skills li,
.interpessoais li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #eee;
}

.skills li::before,
.interpessoais li::before {
    content: '•';
    position: absolute;
    left: -10px;
    color: #00adb5;

}

section.sobre p {
    margin-bottom: 15px;
}

@keyframes RGBA {
    0% {
        color: #00adb5;
    }

    25% {
        color: #01083e;
    }

    50% {
        color: #00adb5;
    }

    75% {
        color: #01083e;
    }

    100% {
        color: #00adb5;
    }
}

#sun{
    opacity: 0.3;
}
/* Estilos responsivos para celular */
@media screen and (max-width: 768px) {
    /* Outros estilos para dispositivos móveis aqui... */

    /* Estilos para replicar o lateral quando estiver em um celular */
    .lateral {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        border: solid 1px #333;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        background-color: #1f1f1f;
    }

    .principal {
        flex: none;
        width: 100%;
        max-width: 100%;
        padding: 30px 20px;
        background-color: #1f1f1f;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .contact-info a {
        color: #fff700;
    }

    .contact-info a:hover {
        color: #00adb5;
    }

    .skills li::before,
    .interpessoais li::before {
        color: #00adb5;
    }
}
